/* COULEURS */
/************
text-color-primary : #261624;
bgc-color-primary: #f3e9f1;
*************/


/**********************************************/
/****************** GENERAL *******************/
/**********************************************/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

a, 
a:link,
a:visited {
    color: #261624;
    text-decoration: none;
}

.btn {
    border-radius: 3rem;
    font-size: 2rem;
    padding: 1.5rem 2.5rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.btn-view {
    background-color: #f3e9f1;
}

.btn-view:hover {
    background-color: #261624;
    color: #f3e9f1;
}

/**********************************************/
/****************** UTILITIES *******************/
/**********************************************/
.bgc-primary {
    background-color: #f3e9f1;
}


/**********************************************/
/******************* HEADER ********************/
/**********************************************/
.heading {
    color: #261624;
    padding: 0 2rem 2rem 2rem;
}

.heading__nav-container {
    display: flex;
    padding-top: 1rem;
}

.heading__primary-container {
    display: flex;
    justify-content: space-evenly;
    min-width: 100%;
    padding: 2.5rem 0 0 0;
}

.heading__primary {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding: .7rem 3rem 0 3rem;
}

.heading__primary-main {
    font-size: 4rem;
    margin-bottom: 2rem;
    max-width: 95%;
}

.heading__primary-sub {
    font-size: 2rem;
    max-width: 90%;
}

.heading__banner-box {
    align-self: center;
}

.heading__nav {
    align-self: center;
    margin-left: auto;
}

.heading__nav ul::after {
    clear: both;
    content: "";
    display: table;
}

.heading__nav ul li {
    position: relative;
    text-align: center;
}

.nav__list {
    display: flex;
}

.nav__list a {
    font-size: 2rem;
}

.nav__list-item {
    padding: 0 2rem;
}

.item--link,
.item--link:visited,
.item--link:link {
    border-bottom: 3px solid transparent;
    margin-bottom: 2rem;
    text-decoration: none;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

.item--link:hover {
    border-bottom: 3px solid #261624;
}

.item--dropdown > .item--link::after {
    content: "▼";
    font-size: 1.5rem;
}

.item--dropdown-list {
    background-color: #fff;
    box-shadow: 0px 1px 2px #CCC;
    display: none;
    left: 0;
    position: absolute;
    top: 2.8rem;
    width: 100%;
    z-index: 1000;
}

.item--dropdown:hover .item--dropdown-list {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    display: block;
}

.item--dropdown-list li:hover {
    background-color: #f3e9f1;
    text-decoration: none;
}

.dropdown--link,
.dropdown--link:visited,
.dropdown--link:link {
    text-decoration: none;
}


/**********************************************/
/************** MAIN INDEX.HTML ****************/
/**********************************************/
.section-products {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    padding: 3rem 0;
}

.heading__secondary {
    color: #261624;
    font-size: 4.5rem;
    font-weight: 400;
    margin: 2rem 0 4rem 0;
}

.heading__secondary::after {
    background-color: #261624;
    display: block;
    content: "";
    height: 3px;
    margin: 0 auto;
    transition: width .6s;
    -webkit-transition: width .6s;
    -moz-transition: width .6s;
    -ms-transition: width .6s;
    -o-transition: width .6s;
    width: 0;
}

.heading__secondary:hover::after {
    width: 100%;
}

.products__list {
    display: flex;
    flex-direction: column;
}

.products__list--item {
    border-radius: 2rem;
    box-shadow: 2px 2px 2px #CCC, -2px -2px #CCC;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.products__img-box {
    height: 30rem;
    overflow: hidden;
    width: 30rem;
}

.products__img-box img {
    border-radius: 2rem 0 0 2rem;
    height: 100%;
    overflow: hidden;
    width: 100%;
    -webkit-border-radius: 2rem 0 0 2rem;
    -moz-border-radius: 2rem 0 0 2rem;
    -ms-border-radius: 2rem 0 0 2rem;
    -o-border-radius: 2rem 0 0 2rem;
}

.products__details-box {
    align-items: center;
    border-left: 2px solid #CCC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 6rem;
}

.products__item-name {
    font-size: 3rem;
}

.product__price {
    font-size: 2.5rem;
}


/**********************************************/
/******************* FOOTER ********************/
/**********************************************/