/* COULEURS */
/************
text-color-primary : #261624;
bgc-color-primary: #f3e9f1;
*************/


/**********************************************/
/****************** GENERAL *******************/
/**********************************************/
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}

html {
    font-size: 62.5%;
}

a, 
a:link, 
a:visited, 
a:hover {
    color: #000;
}

.btn {
    border-radius: 3rem;
    font-size: 2.2rem;
    padding: 1rem 1.8rem;
    -webkit-border-radius: 3rem;
    -moz-border-radius: 3rem;
    -ms-border-radius: 3rem;
    -o-border-radius: 3rem;
    transition: all .4s;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
}

/**********************************************/
/****************** UTILITIES *******************/
/**********************************************/
.bgc-primary {
    background-color: #f3e9f1;
}


/**********************************************/
/******************* HEADER ********************/
/**********************************************/
.heading__nav-container {
    padding: 0 2rem;
}

nav.navbar .navbar-toggler {
    border: 1px solid #000;
}

.fa-bars {
    color: #000;
    display: inline-block;
    font-size: 1.5em;
}

.nav-item {
    font-size: 1.8rem;
    margin: 0 .6rem;
}

.dropdown-item {
    font-size: 1.5rem;
}

.navbar-toggler {
    outline: none !important;
}

.heading__primary-container {
    margin: 0 auto;
    max-width: 55%;
    padding: 6.7rem 0;
    text-align: center;
}

.heading__primary {
    background: url("https://res.cloudinary.com/djcmfi03h/image/upload/f_auto/v1582131058/Orinoco/banniere_teddy_kxxhhe.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.heading__primary-main {
    font-size: 5rem;
    font-weight: bold;
    margin-bottom: 5rem;
}

.heading__primary-sub {
    font-size: 2.5rem;
}


/**********************************************/
/************** MAIN INDEX.HTML ****************/
/**********************************************/
.section-products {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Josefin Sans', sans-serif;
    padding: 3rem;
}

.heading__secondary {
    color: #261624;
    font-size: 4.5rem;
    font-weight: 400;
    margin: 2rem 0 4rem 0;
    text-align: center;
}

.heading__secondary::after {
    background-color: #261624;
    display: block;
    content: "";
    height: 3px;
    margin: 0 auto;
    transition: width .6s;
    -webkit-transition: width .6s;
    -moz-transition: width .6s;
    -ms-transition: width .6s;
    -o-transition: width .6s;
    width: 0;
}

.heading__secondary:hover::after {
    width: 100%;
}

.products__list--item {
    border-radius: 2rem;
    box-shadow: 2px 2px 2px #CCC, -2px -2px #CCC;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}

.products__img-box {
    margin-bottom: 2rem;
}

.products__img-box img {
    border-radius: 2rem 2rem 0 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
    -webkit-border-radius: 2rem 2rem 0 0;
    -moz-border-radius: 2rem 2rem 0 0;
    -ms-border-radius: 2rem 2rem 0 0;
    -o-border-radius: 2rem 2rem 0 0;
}

.products__details-box {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.products__item-name {
    font-size: 2.5rem;
}

.products__price {
    font-size: 2.3rem;
}

/************************************************/
/************** MAIN PRODUCT.HTML ***************/
/************************************************/
.section-item {
    margin-top: 3rem;
}

.item__img-box {

}

.item__img-box img {
    height: 100%;
    width: 100%;
}